<div ng-controller="tjadwalCtrl">
    <div class="title-head">
        <h1>Transaksi - Jadwal</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-sm-9">
                            <ui-select  ng-disabled="is_view" ng-model="form.kelas" theme="bootstrap" position="down">
                                <ui-select-match placeholder="Cari Kelas / Program Keahlian">
                                    {{$select.selected.nama}} - {{$select.selected.prog_keahlian}}
                                </ui-select-match>
                                <ui-select-choices repeat="val in getKelas | filter : $select.search" position='down'>
                                    {{val.nama}} - {{val.prog_keahlian}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-primary btn-block" ng-click="view(form.kelas)" ng-disabled="form.kelas == undefined"><i class="fa fa-search"></i> Tampilkan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top: 10px" ng-if="tampilkan">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class ="table table-bordered table-striped">
                    <tr style="text-align:center">
                        <th class="text-center" style="width: 50px">No</th>
                        <th class="text-center">Jam</th>
                        <th class="text-center" ng-repeat="val in dataView[0].detail" style="width: 200px">{{val.hari}}</th>
                    </tr>

                    <tr style="text-align:center" ng-repeat="val in dataView">
                        <td>{{$index+1}}</td>
                        <td>{{val.waktu_mulai}} - {{val.waktu_selesai}}</td>
                        <td ng-repeat="vals in val.detail">
                            <div class="btn-group">
                                <a class="btn btn-default" ng-click="edit(vals)" tooltip="Edit" ng-if="vals.matakuliah != null">{{vals.matakuliah}}</a>
                                <button class="btn btn-primary" ng-click="edit(vals)" ng-if="vals.matakuliah == null">
                                    <i class="fa fa-plus" ></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
