<div class="modal-header">
    <div class="row">
        <div class="col-xs-9">
            <div class="modal-title">
                <!--<h3>Kwitansi Pembayaran</h3>-->
            </div>
        </div>
        <div class="col-xs-3" align="right">
            <button ng-click="close()" title="Cancel"  class="btn btn-rounded btn btn-icon btn-default"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
    </div>
</div>
<div class="modal-body" id="print" >
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Matakuliah</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="formmodal.matakuliah" ng-disabled="is_view" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Dosen</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" ng-model="formmodal.dosen" ng-disabled="is_view" required>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">                  
    <button class="btn btn-primary" ng-click="save(formmodal)"><i class="glyphicon glyphicon-save"></i> SIMPAN</button>
</div>
