<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="sr-only">
                    Toggle navigation
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
            </button>
            <a class="navbar-brand" ui-sref="site.dashboard">
                VOKASI UB
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a ui-sref="master.user">
                        <i class="fa fa-user icon text-info-lter">
                        </i>
                        User
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a ui-sref="master.jam">
                        <i class="fa fa-clock-o icon text-info-lter">
                        </i>
                        Waktu
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a ui-sref="master.kelas">
                        <i class="fa fa-th-large icon text-info-lter">
                        </i>
                        Kelas
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a ui-sref="master.ruangan">
                        <i class="fa fa-bandcamp icon text-info-lter">
                        </i>
                        Ruangan
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav" >
                <li class="dropdown" style="border-left: 1px solid #ddd">
                    <a ui-sref="transaksi.jadwal">
                        <i class="fa fa-calendar icon text-info-lter">
                        </i>
                        Jadwal
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a ui-sref="transaksi.ruangan">
                        <i class="fa fa-university icon text-info-lter">
                        </i>
                        Pembagian Ruangan
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li >
                    <a ui-sref="master.setting">
                        <i class="glyphicon glyphicon-wrench icon text-info-lter">
                        </i>
                        Pengaturan
                    </a>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button">
                        <img class="img-circle" src="img/user.jpg" style="height: 20px;border: 1px solid rgba(255, 255, 255, .15);">
                        {{user.nama}}
                        <span class="caret">
                        </span>
                        </img>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="master.penggunaprofile">
                                <span class="glyphicon glyphicon-user">
                                </span>
                                Profile
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="logout()">
                                <span class="glyphicon glyphicon-off">
                                </span>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
