<div ng-controller="truanganCtrl">
    <div class="title-head">
        <h1>Transaksi - Pembagian Ruangan</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-sm-12 text-center">
                            <div class="btn-group m-r" >
                                <label btn-radio="'Senin'" ng-model="form.hari" class="btn btn-default btn-sm" ng-change="view(form.hari)">
                                    Senin
                                </label>
                                <label btn-radio="'Selasa'" ng-model="form.hari" class="btn btn-default btn-sm"ng-change="view(form.hari)">
                                    Selasa
                                </label>
                                <label btn-radio="'Rabu'" ng-model="form.hari" class="btn btn-default btn-sm" ng-change="view(form.hari)">
                                    Rabu
                                </label>
                                <label btn-radio="'Kamis'" ng-model="form.hari" class="btn btn-default btn-sm" ng-change="view(form.hari)">
                                    Kamis
                                </label>
                                <label btn-radio="'Jumat'" ng-model="form.hari" class="btn btn-default btn-sm" ng-change="view(form.hari)">
                                    Jumat
                                </label>
                                <label btn-radio="'Sabtu'" ng-model="form.hari" class="btn btn-default btn-sm" ng-change="view(form.hari)">
                                    Sabtu
                                </label>
                                <label btn-radio="'Minggu'" ng-model="form.hari" class="btn btn-default btn-sm" ng-change="view(form.hari)">
                                    Minggu
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top: 10px" >
        <div class="panel panel-default">
            <div class="panel-body">
                <table class ="table table-bordered table-striped">
                    <tr style="text-align:center">
                        <th class="text-center" style="width: 50px">No</th>
                        <th class="text-center" style="width: 150px">Nama Ruang</th>
                        <th class="text-center" ng-repeat="val in dataView[0].detail" style="width: 200px">{{val.waktu_mulai}} - {{val.waktu_selesai}}</th>
                    </tr>

                    <tr style="text-align:center" ng-repeat="val in dataView">
                        <td>{{$index + 1}}</td>
                        <td>{{val.nama_ruang}}</td>
                        <td ng-repeat="vals in val.detail">
                            <div class="btn-group">
                                <a class="btn btn-default" ng-click="edit(vals)" tooltip="Edit" ng-if="vals.nama_kelas != null">{{vals.nama_kelas}} - {{vals.semester}} - {{vals.status}}</a>
                                <button class="btn btn-primary" ng-click="edit(vals)" ng-if="vals.nama_kelas == null">
                                    <i class="fa fa-plus" ></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
