<div class="modal-header">
    <div class="row">
        <div class="col-xs-9">
            <div class="modal-title">
                <!--<h3>Kwitansi Pembayaran</h3>-->
            </div>
        </div>
        <div class="col-xs-3" align="right">
            <button ng-click="hapus(formmodal.id)" tooltip="Delete"  class="btn btn-rounded btn btn-icon btn-default" ng-if="formmodal.nama_kelas != null"><i class="glyphicon glyphicon-trash"></i></button>
            <button ng-click="close()" tooltip="Close"  class="btn btn-rounded btn btn-icon btn-default"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
    </div>
</div>
<div class="modal-body" id="print" >
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Jurusan</label>
            <div class="col-sm-9">
                <ui-select  ng-disabled="is_view" ng-model="formmodal.kelas_id" theme="bootstrap" position="down" on-select="getJadwal(formmodal.kelas_id)">
                    <ui-select-match placeholder="Cari Kelas / Program Keahlian">
                        {{$select.selected.nama}} - {{$select.selected.prog_keahlian}} (Semester {{$select.selected.semester}})
                    </ui-select-match>
                    <ui-select-choices repeat="val in getKelas | filter : $select.search" position='down'>
                        {{val.nama}} - {{val.prog_keahlian}} (Semester {{val.semester}})
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Jadwal</label>
            <div class="col-sm-9">
                <ui-select  ng-disabled="jadwal == undefined" ng-model="formmodal.t_jadwal_id" theme="bootstrap" position="down" >
                    <ui-select-match placeholder="Cari Matakuliah - Dosen - (Hari)">
                        {{$select.selected.matakuliah}} - {{$select.selected.dosen}} ({{$select.selected.hari}})
                    </ui-select-match>
                    <ui-select-choices repeat="val in jadwal | filter : $select.search" position='down'>
                        {{val.matakuliah}} - {{val.dosen}} ({{val.hari}})
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Status Penggunaan</label>
            <div class="col-sm-9">
                <div class="btn-group m-r" >
                    <label btn-radio="'Tetap'" ng-model="formmodal.status" class="btn btn-default btn-sm">
                        Tetap
                    </label>
                    <label btn-radio="'Sementara'" ng-model="formmodal.status" class="btn btn-default btn-sm">
                        Sementara
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group" ng-if="formmodal.status == 'Sementara'">
            <label class="col-sm-3 control-label">Tanggal</label>
            <div class="col-sm-9" style="width: 180px">
                <div class="input-group" >
                    <input type="text"  style="height: 30px;" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="formmodal.tanggal" is-open="opened1" ng-click="open1($event);"/>
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group" ng-if="formmodal.status == 'Sementara'">
            <label class="col-sm-3 control-label">Lama Pemakaian</label>
            <div class="col-sm-9">
                <div class="input-group angka" style="width: 100px">
                    <input type="text"  style="height: 30px;" class="form-control" ng-model="formmodal.lama_pemakaian"/>
                    <span class="input-group-addon">
                        Hari
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group" ng-if="formmodal.status == 'Sementara'">
            <label class="col-sm-3 control-label">Alasan</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" ng-model="formmodal.alasan">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">                  
    <button class="btn btn-primary" ng-click="save(formmodal)"><i class="glyphicon glyphicon-save"></i> SIMPAN</button>
</div>
