<div ng-controller="jamCtrl">
    <div class="title-head">
        <h1>Data Master - Jam</h1>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="wrapper-sm" ng-show="!is_edit">
                <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
                    <div class="panel-heading">
                        List Data Jam
                        <!--<button class="btn btn-default btn-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">Pencarian</button>-->
                        <div class="btn-group pull-right" role="group" style="margin-top: -5px;">
                            <button type="button" class="btn btn-primary" ng-click="create();"><i class="glyphicon glyphicon-plus"></i>&nbsp;Tambah Data</button>
                        </div> 
                    </div>
<!--                    <div collapse="isCollapsed" class="panel-body collapse" style="height: 0px;">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Jam</label>
                                <div class="col-sm-3">
                                    <input st-search="nama" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" >
                            <thead>
                                <tr>
                                    <th style="text-align: center;width: 80px">No</th>
                                    <th style="text-align: left;">Jam Mulai</th>
                                    <th style="text-align: left;">Jam Selesai</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody ng-show="!isLoading">
                                <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                    <td class="text-center">{{$index+1}}</td>
                                    <td>{{row.waktu_mulai}}</td>
                                    <td>{{row.waktu_selesai}}</td>
                                    <td>
                                        <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                                            <button type="button" class="btn btn-info glyphicon glyphicon-pencil " ng-click="update(row)"></button>
                                            <button type="button" class="btn btn-danger glyphicon glyphicon-trash" ng-click="delete(row);"></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-show="isLoading">
                                <tr>
                                    <td colspan="6" class="text-center">Loading ... </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/blocks/pagination.custom.html">
                                    </td>
                                </tr>
                            </tfoot>
                        </table>		
                    </div>
                </div>
            </div>

            <!--FORM-->

            <div class="wrapper-sm" ng-show="is_edit">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Form Tambah Data
                    </div>
                    <div class="panel-body">
                        <form name="landaform" class="form-horizontal form-validation " novalidate="">
                            <div class="col-md-8 col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Waktu</label>
                                    <div class="col-sm-4">
                                        <input class="form-control" ng-model="form.waktu_mulai" ng-disabled="is_view" placeholder="Waktu Mulai">
                                    </div>
                                    <div class="col-sm-1">
                                        <p class="text-center">
                                            <b>-</b>
                                        </p>
                                    </div>
                                    <div class="col-sm-4">
                                        <input class="form-control" ng-model="form.waktu_selesai" ng-disabled="is_view" placeholder="Waktu Selesai">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top: 20px;">
                                <div align="center">
                                    <button type="submit" class="btn btn-default" ng-click="cancel()"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Back</button>
                                    <button type="submit" class="btn btn-primary" ng-hide="is_view" ng-disabled="landaform.$invalid" ng-click="save(form)"><i class="glyphicon glyphicon-save"></i>&nbsp;Simpan Perubahan</button>
                                </div>
                            </div>	
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
