<div ng-controller="penggunaProfileCtrl">
    <div class="title-head">
        <h1>Edit Profile</h1>
    </div>

    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{formtitle}} 
                <div class="btn-group pull-right" role="group" style="margin-top: -8px;">
                    <!--<button type="submit" class="btn btn-default" ng-click="cancel()"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Kembali</button>-->
                    <button type="submit" class="btn btn-primary" ng-hide="is_view" ng-click="save(form)"><i class="glyphicon glyphicon-save"></i>&nbsp;Simpan</button>
                </div> 
            </div>
            <div class="panel-body">
                <form name="landaform" class="form-horizontal form-validation ">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nama</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" ng-model="form.nama" ng-disabled="is_view" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control" ng-model="form.email" ng-disabled="is_view" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Username</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" ng-model="form.username" ng-disabled="is_view" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Password</label>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control" ng-model="form.password" ng-disabled="is_view" >
                                        <label class="label label-info" ng-if="!is_create">Kosongkan Jika Tidak Mengganti Password</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>