<div ng-controller="dashboardCtrl">
    <div class="title-head">
        <h1>
            <b>
                Dashboard - Aplikasi Pembagian Kelas
            </b>
        </h1>
    </div>
</div>
