<div ng-controller="settingCtrl">
    <div class="title-head">
        <h1>
            <b>
                Site Config
            </b>
        </h1>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="wrapper-sm">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Setting Application
                    </div>
                    <div class="panel-body">
                        <form name="landaform" class="form-horizontal form-validation " novalidate="">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Nama</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" ng-model="form.nama"  required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Telepon</label>
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control angka" ng-model="form.telepon"  required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control" ng-model="form.email"  required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Alamat</label>
                                    <div class="col-sm-6">
                                        <textarea class="form-control" ng-model="form.alamat" cols="5"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <div style="overflow: hidden;background-color: rgba(0, 0, 0, 0.23);">
                                            <img class="img img-responsive img-produk" id="foto" ng-src="{{form.foto}}"/>
                                        </div>
                                        <div class="fileUploadr btn btn-primary edit">
                                            <span>
                                                <i class="glyphicon glyphicon-camera">
                                                </i>
                                                <b>
                                                    Logo Aplikasi
                                                </b>
                                            </span>
                                            <input class="upload" fileread="form.foto" ng-hide="is_view" type="file">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top: 20px;">
                                <div align="center">
                                    <button type="submit" class="btn btn-primary" ng-click="save(form)">Simpan Perubahan</button>
                                </div>
                            </div>	
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>